@import "@astryx-solid/core/reset.css";
@import "@astryx-solid/core/astryx.css";

html {
  color: #171717;
  background: #fff;
}

.docs-button {
  background-color: var(--color-accent);
  color: #fff;
  border: 0;
  padding: 8px 12px;
  cursor: pointer;
}
